@import "../hypr/Colors/catppucin-mocha-gtk.css";

* {
  background-image: none;
}

window {
  background-color: rgba(0, 0, 0, 0.895);
}

button {
  color: #ffffff;
  background-color: @crust;
  border: none;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16%;
}

button:focus,
button:active,
button:hover {
  background-color: @blue;
  outline: none;
}

button:nth-child(1) {
  border-top-left-radius: 8px;
  margin-right: 3px;
  margin-bottom: 3px;
}

button:nth-child(2) {
  border-bottom-left-radius: 8px;
  margin-right: 3px;
  margin-top: 3px;
}

button:nth-child(3) {
  border-top-right-radius: 8px;
  margin-left: 3px;
  margin-bottom: 3px;
}

button:nth-child(4) {
  border-bottom-right-radius: 8px;
  margin-left: 3px;
  margin-top: 3px;
}

button:nth-child(1):focus,
button:nth-child(1):active,
button:nth-child(1):hover {
  box-shadow: -10px -10px 0 10px @blue;
  background-position: 45% 45%;
}

button:nth-child(2):focus,
button:nth-child(2):active,
button:nth-child(2):hover {
  box-shadow: -10px 10px 0 10px @blue;
  background-position: 45% 55%;
}

button:nth-child(3):focus,
button:nth-child(3):active,
button:nth-child(3):hover {
  box-shadow: 10px -10px 0 10px @blue;
  background-position: 55% 45%;
}

button:nth-child(4):focus,
button:nth-child(4):active,
button:nth-child(4):hover {
  box-shadow: 10px 10px 0 10px @blue;
  background-position: 55% 55%;
}

#lock {
  background-image: image(
    url("./icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#suspend {
  background-image: image(
    url("./icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
