@import "../Colors/Gtk.css";
@import "../../../Resources/size.css";

* {
    all: unset;
    transition: 200ms;
}


/* control center */
.control-center {
   box-shadow:
        0 0 8px 0 rgba(0, 0, 0, 0.8);
    border-radius: 12.6px;
    background-color: @crust;
    color: #cdd6f4;
    padding: 0 14px;
}

.control-center .notification-background {
    border-radius: 7px;
    color: #cdd6f4;
    background-color: @base;
    box-shadow: inset 0 0 0 1px #45475a;
    margin: 7px;
}

.control-center .notification {
    border: none;
    color: @text;
    font-weight: 700;
    border-radius: 0;
}

.control-center .notification .summary {
    color: @text;
}

.control-center .notification .body {
    color: @subtext1;
    font-weight: 400;
}

.control-center .notification progress {
    background: @pink;
    margin: 0;
}

.control-center .notification progress::-gtk-progress-bar {
    background: @accent;
}

control-center .notification>*:last-child>* .notification-action {
    background: @overlay2;
    border: none;
    color: @text;
    border-radius: 0;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.control-center .notification>*:last-child>* .notification-action:hover {
    background: @red;
}

.control-center .notification-background .close-button,
.notification-group-close-button {
    opacity: 0;
}

/* notification */
.notification {
    padding: 0 5px;
    border-radius: 0;
    color: @text;
}

.notification-background {
    background: @crust;
    border: 1px solid @lavender;
    border-radius: 10px;
    margin: 10px;
}

.notification .notification-content {
    margin: 10px;
}

.notification-content .text-box {
    margin: 4px;
}

.notification-content .time {
    font-size: 0.85rem;
    padding: 2px 0;
    font-weight: 400;
    color: @pink;
}

.notification .summary {
    font-weight: 800;
    margin-bottom: 2px;
    padding: 2px 0;
    font-size: 1rem;
    color: @subtext1;
}

.notification .body {
    color: @foreground-alt;
    font-size: 0.8rem;
}

.notification.critical {
    border-color: @danger;
}

.notification progress,
.notification.low progress,
.notification.normal progress,
.notification.critical progress {
    color: @pink;
    background: @pink;
    border-radius: 0;
    min-height: 6px;
    margin: 0;
    padding: 0;
}

.notification progressbar trough {
    background: @surface1;
    border-radius: 10px;
    min-height: 6px;
    margin: 0;
    padding: 0;
}

.notification-background .close-button {
    margin: 6px;
    padding: 2px;
    border-radius: 0;
    background: transparent;
    color: @red;
}

.notification>*:last-child>* {
    min-height: 3.2em;
}

.notification>*:last-child>* .notification-action {
    background: @red;
    margin: 0 6px 9px 6px;
    border-radius: 0;
    border: 1px solid @surface1;
    color: @text;
}


.notification>*:last-child>* .notification-action:hover {
    background: @red;
}

.notification>*:last-child>* .notification-action:active {
    background: @red;
}

.notification-row .inline-reply-entry {
    padding: 5px 10px;
    background: @surface1;
    border-radius: 0;
    border: 1px solid @surface1;
    color: @text;
}

.notification-row .inline-reply-button {
    padding: 5px 10px;
    border-radius: 0;
    background: @surface1;
    border: 1px solid @surface1;
    color: @text;
}

.notification-row .inline-reply .inline-reply-button:hover {
    background: @surface1;
}

/* Widget dnd */
.widget-dnd {
    margin-top: 12px;
    margin-bottom: 12px;
    color: @text;
    border: none;
}

.widget-dnd>label {
    font-size: 1rem;
}

.widget-dnd switch {
    background: @surface1;
    border-radius: 10px;
    box-shadow: none;
    padding: 2px;
    border: none;
}

.widget-dnd switch slider {
    background: @lavender;
    border-radius: 10px;
}

.widget-dnd>switch:checked {
    background: @lavender;
}

.widget-dnd switch:checked slider {
    background: @surface1;
    border-radius: 10px;
}

.widget-dnd switch:hover {
    background: @surface0;
}

/* widget mpris */
.widget-mpris {
    margin-bottom: 12px;
    border-radius: 8px;
    background: @crust;
}

.widget-mpris>box {
    border-radius: 8px;
    background: @crust;
}

.mpris-overlay {
    background: @base;
    border-radius: 8px;
    color: @text;
    padding: 8px;
    margin-bottom: 0px;
}

.widget-mpris-album-art {
    border-radius: 8px;
    margin: 2px;
    border: none;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.widget-mpris-player {
    border-radius: 8px;
    color: @text;
    background: @crust;
}

.widget-mpris .widget-mpris-title {
    font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
    font-size: 0.8rem;
}

.widget-mpris-title,
.widget-mpris-subtitle {
    font-weight: 700;
    margin: 0 3px;
}

.widget-mpris-title {
    font-size: 1.2rem;
    color: @text;
}

.widget-mpris-subtitle {
    font-size: 0.9rem;
    color: @subtext1;
}

/* notification group */
.notification-group {
    margin: 0px 12px;
}

.notification-group-headers {
    font-weight: bold;
    color: @text;
}

.notification-group-headers>label {
    margin: 0 3px;
    font-size: 1rem;
}

.notification-group-close-all-button {
    background: transparent;
    color: @red;
    margin: 4px;
    border-radius: 0;
    padding: 4px;
}

.notification-group-close-all-button:hover {
    background: @red;
    color: @text;
    border-radius: 50px;
}

