@import "../../hypr/Colors/catppucin-mocha-gtk.css";

* {
  font-family: "Fira Code", "Symbols Nerd Font Mono";
  font-size: 14px;
}

window#waybar {
  color: @subtext0;
  background: transparent;
  transition: background-color 0.5s;
}

.modules-center {
  margin: 0 10px;
}

#workspaces button {
  background: transparent;
  color: @subtext0;
  border: none;
  border-radius: 0;
}

#workspaces button:first-child:hover,
#workspaces button:first-child.active {
  color: @red;
}

#workspaces button:nth-child(2):hover,
#workspaces button:nth-child(2).active {
  color: @peach;
}

#workspaces button:nth-child(3):hover,
#workspaces button:nth-child(3).active {
  color: @maroon;
}

#workspaces button:nth-child(4):hover,
#workspaces button:nth-child(4).active {
  color: @yellow;
}

#workspaces button:nth-child(5):hover,
#workspaces button:nth-child(5).active {
  color: @green;
}

#workspaces button:nth-child(6):hover,
#workspaces button:nth-child(6).active {
  color: @teal;
}

#workspaces button:nth-child(7):hover,
#workspaces button:nth-child(7).active {
  color: @blue;
}

#workspaces button:nth-child(8):hover,
#workspaces button:nth-child(8).active {
  color: @sky;
}

#workspaces button:nth-child(9):hover,
#workspaces button:nth-child(9).active {
  color: @mauve;
}

#workspaces button:last-child:hover,
#workspaces button:last-child.active {
  color: @sapphire;
}

#custom-arch {
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#custom-kahfein.inactive {
  color: @text;
}

#custom-kahfein.active {
  color: @flamingo;
}

#cpu,
#backlight,
#custom-notification {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* #battery {
    color: @green;
}

#custom-power {
    color: @red;
}

#backlight {
    color: @yellow;
}

#network {
    color: @teal;
}

#pulseaudio {
    color: @sky;
}

#cpu {
    color: @sapphire;
}

#memory {
    color: @green;
}

#temperature {
    color: @yellow;
}

#temperature.critical {
    color: @red;
}

#window {
    color: @mauve;
} */

#window,
#custom-power,
#clock {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.module {
  background: @crust;
  padding: 0 15px;
}
