[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Apache NetBeans
Comment=Custom Apache NetBeans Launcher
Exec=sh -c 'exec ~/.local/bin/netbeansWrapper %F'
Categories=Development;IDE
Icon=netbeans
Terminal=false
